{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Shinka Dojo</title>
<!--

TemplateMo 548 Training Studio

https://templatemo.com/tm-548-training-studio

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static '/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static '/css/templatemo-training-studio.css' %}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                      {% for titulo in titulos %}
                        <a href="index.html" class="logo">{{ titulo.titulo_barra_uno }}<em> {{ titulo.titulo_barra_dos }}</em></a>
                      {% endfor %}
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Inicio</a></li>
                            <li class="scroll-to-section"><a href="#features">Programas</a></li>
                            <li class="scroll-to-section"><a href="#our-classes">Estilos</a></li>
                            <li class="scroll-to-section"><a href="#schedule">Horarios</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contacto</a></li> 
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <img id="bg-video" src="{% static 'images/banneprincipal.jpeg' %}">

        <div class="video-overlay header-text">
            <div class="caption">
              {% for titulo in titulos %}
                <h6>{{ titulo.subtitulo }}</h6>
                <h2>{{ titulo.titulo_uno }} <em>{{ titulo.titulo_dos }}</em></h2>
              {% endfor %}
                <div class="main-button scroll-to-section">
                    <a href="#">Contáctanos</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Features Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                      {% for programa in programas %}
                        <h2>{{ programa.titulo_programa_uno }} <em>{{ programa.titulo_programa_dos }}</em></h2>
                        <img src="{% static 'images/line-dec.png' %}" alt="waves">
                        <p>{{ programa.contenido }}</p>
                      {% endfor %}
                    </div>
                </div>
		{% for clase in clases %}
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="{% static 'images/puno.png' %}" alt="First One">
                            </div>
                            <div class="right-content">
				<h4>{{ clase.titulo }}</h4>
				<p>{{ clase.contenido }}</p>
                            </div>
                        </li>
                    </ul>
                </div>
		{% endfor %}
            </div>
        </div>
    </section>
    <!-- ***** Features Item End ***** -->

    <!-- ***** Call to Action Start ***** -->
    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
		      {% for slogan in slogans %}
			<h2>{{ slogan.titulo_uno }} <em>{{ slogan.enfasis_uno }}</em>, {{ slogan.titulo_dos }} <em>{{ slogan.enfasis_dos }}</em>!</h2>
			<p>{{ slogan.contenido }}</p>
		      {% endfor %}
                        <div class="main-button scroll-to-section">
                            <a href="#our-classes">Contáctanos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
		      {% for presentacion in presentaciones %}
		      <h2>{{ presentacion.titulo }} <em>{{ presentacion.enfasis }}</em></h2>
                        <img src="{% static 'images/line-dec.png' %}" alt="">
			<p>{{ presentacion.contenido }}</p>
		      {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row" id="tabs">
              <div class="col-lg-4">
                <ul>
		  {% for estilo in estilos %}
		  <li><a href='#{{ estilo.id }}'><img src="{% static 'images/puno.png' %}" alt="">{{ estilo.titulo }}</a></li>
		  {% endfor %}
                  <div class="main-rounded-button"><a href="#">View All Schedules</a></div>
                </ul>
              </div>
              <div class="col-lg-8">
                <section class='tabs-content'>
		  {% for estilo in estilos %}
		  <article id='{{ estilo.id }}'>
                    <img src="{% static 'images/banneradd.jpeg' %}" alt="First Class">
		    <h4>{{ estilo.titulo }}</h4>
		    <p>{{ estilo.resumen }}</p>
                    <div class="main-button">
                        <a href="#">View Schedule</a>
                    </div>
                  </article>
		  {% endfor %}
                </section>
              </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Classes End ***** -->
    
    <section class="section" id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading dark-bg">
		      {% for horario in horarios %}
			<h2>{{ horario.titulo }} <em>{{ horario.enfasis }}</em></h2>
                        <img src="{% static 'images/line-dec.png' %}" alt="">
			<p>{{ horario.contenido }}</p>
		      {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="filters">
                        <ul class="schedule-filter">
                            <li class="active" data-tsfilter="monday">Monday</li>
                            <li data-tsfilter="tuesday">Tuesday</li>
                            <li data-tsfilter="wednesday">Wednesday</li>
                            <li data-tsfilter="thursday">Thursday</li>
                            <li data-tsfilter="friday">Viernes</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10 offset-lg-1">
                    <div class="schedule-table filtering">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="day-time">Defensa Personal Urbana y Artes Marciales</td>
                                    <td class="thursday ts-item show" data-tsmeta="thursday">18:00 - 19:00</td>
                                    <td>Matías Alvarez</td>
                                </tr>
                                <tr>
                                    <td class="day-time">Defensa Personal Táctica y Operativa</td>
                                    <td class="thursday ts-item show" data-tsmeta="thursday">19:00 - 20:00</td>
                                    <td>Matías Alvarez</td>
                                </tr>
                                <tr>
                                    <td class="day-time">Defensa Personal Urbana y Artes Marciales</td>
                                    <td class="friday ts-item" data-tsmeta="friday">19:00 - 20:00</td>
                                    <td>Adrián Pietropaolo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
		      {% for experto in expertos %}
			<h2>{{ experto.titulo }} <em>{{ experto.enfasis }}</em></h2>
                        <img src="{% static 'images/line-dec.png' %}" alt="">
			<p>{{ experto.contenido }}</p>
		      {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
	      {% for maestro in maestros %}
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
			  <img src="{{ maestro.imagen.url }}" alt="">
                        </div>
                        <div class="down-content">
			    <span>{{ maestro.disciplina }}</span>
			    <h4>{{ maestro.nombre }}</h4>
			    <p>{{ maestro.contenido }}</p>
                            <ul class="social-icons">
				<li><a href="https://www.facebook.com/{{ maestro.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://www.instagram.com/{{ maestro.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
	      {% endfor %}
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->
    
    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div id="map">
                      <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="contact-form">
		      <form id="contact" action="" method="POST">
			{% csrf_token %}
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Nombre*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Email*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                              <fieldset>
                                <input name="subject" type="text" id="subject" placeholder="Asunto">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Mensaje*" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Enviar Mensaje</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Derechos &copy; 2021 Shinka Dojo
                    
                    - Disenada por <a rel="nofollow" href="#" class="tm-text-link" target="_parent">Ivan Andrade</a></p>
                    
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static '/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static '/js/popper.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static '/js/scrollreveal.min.js' %}"></script>
    <script src="{% static '/js/waypoints.min.js' %}"></script>
    <script src="{% static '/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static '/js/imgfix.min.js' %}"></script> 
    <script src="{% static '/js/mixitup.js' %}"></script> 
    <script src="{% static '/js/accordions.js' %}"></script>
    
    <!-- Global Init -->
    <script src="{% static '/js/custom.js' %}"></script>

  </body>
</html>
